* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: rgb(173, 216, 230);
    height: 60px;
}

.header-section {
    padding: 10px;
}

.row {
    background-color: rgb(218, 165, 32);
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    /* DEBUG */
    min-height: 30px;
}

.prima-sezione {
    background-color: rgb(0, 0, 139);
    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    /* height: 300px; */
}

.box {
    border: 1px dashed black;
    background-color: rgb(238, 130, 238);
    display: flex;
    margin: 20px;
    height: 250px;
    width: 50%;
  }

  .seconda-sezione {
    background-color: rgb(255, 255, 255);
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .row1 {
    display: flex;
    justify-content: space-around;
  }

  .col-70 {
    background-color: rgb(30, 144, 255);
    border: 1px dashed black;
    display: flex;
    margin: 20px auto;
    height: 200px;
    width: 70%;
  }

  .col-30 {
    background-color: rgb(255, 192, 203);
    border: 1px dashed black;
    display: flex;
    margin: 20px auto;
    height: 200px;
    width: 30%;

    /* DEBUG  */
    height: 200px;
  }

  .terza-sezione {
    background-color: rgb(211, 211, 211);
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .row2 {
    display: flex;
    justify-content: space-around;
  }

  .quarta-sezione {
    background-color: rgb(255, 255, 255);
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .row3 {
    display: flex;
    justify-content: space-around;
  }

  .quinta-sezione {
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    /* height: 500px; */
  }

  .box2 {
    border: 1px dashed rgb(0, 0, 0);
    background-color: rgb(5, 150, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 20px auto;
  }

  .sezione-footer {
    background-color: rgb(51, 50, 50);
    /* height: 300px; */
  }

  .row4 {
    display: flex;
    justify-content: space-around;

  }

  .col-40 {
    border: 1px dashed rgb(255, 255, 255);
    width: 40%;
    display: flex;
    margin: auto;
    height: 400px;
    background-color: rgb(240, 128, 128);
  }

  .col-15 {
    border: 1px dashed rgb(255, 255, 255);
    width: 15%;
    display: flex;
    margin: 20px auto;
    height: 400px;
    background-color: rgb(34, 207, 234);
  }

 .footer-finale {
    background-color: rgb(31, 197, 197);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin: auto;
 }

 .bordo {
    background-color: rgb(240, 128, 128);;
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
 }