* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: rgb(173, 216, 230);
    height: 60px;
}

.header-section {
    padding: 10px;
}

.row {
    background-color: rgb(218, 165, 32);
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    /* DEBUG */
    min-height: 30px;
}